table{
    border: 1px solid black;
    border-collapse: collapse;
}

tr,td,th{
    border: 1px solid black;
}
.right{
    text-align: right;
}
tbody{
background: yellowgreen;
}
thead{
   background: yellow; 
}
tfoot{
    background: red;
}
table{
    font-size:75px;
    text-align: center;
}


/* a{
    font-size: 50px;;
} */

