/* main{
    font-size: 10px;
}
div{
    font-size: 50px;
}
p{
    font-size: 5em;
} */
/* .box{
    height: 80%;
    width: 50%;
    border: 1px solid;
}
.container{
    width: 400px;
    height: 600px;
} */
/* ul{
   font-size:2rem;
} */
div{
    width: 70vw;
    height: 30vh;
    border: 1px solid;
}