div{
    width: 200px;
    height: 200px;
    /* background-color: rgb(226, 116, 43); */
    margin: 20px;
    border-style:  dashed;
    border-color: #000;;
    border-width: 10px 5px 15px 20px;
    background-image:url(plane.png) ;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}